
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div role="main" class="main">
  <section
    class="page-header page-header-modern page-header-background bg-color-dark p-relative z-index-1 lazyload overlay overlay-op-9 overlay-show"
    data-bg-src="{{post.thumbnail.url}}"
  >
    <span
      class="custom-circle custom-circle-1 bg-color-light custom-circle-blur appear-animation"
      data-appear-animation="fadeInLeftShorter"
      data-appear-animation-delay="400"
    ></span>
    <span
      class="custom-circle custom-circle-2 bg-color-primary appear-animation"
      data-appear-animation="zoomIn"
      data-appear-animation-delay="500"
    ></span>
    <span
      class="custom-circle custom-circle-3 bg-color-primary appear-animation"
      data-appear-animation="zoomIn"
      data-appear-animation-delay="600"
    ></span>
    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <ul
            class="breadcrumb breadcrumb-light custom-title-with-icon-primary d-block"
          >
            <li><a href="#">Home</a></li>
            <li class="active">Our Insights</li>
          </ul>
          <h1 class="custom-text-10 font-weight-bold">{{post.title}}</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="container py-5 p-relative z-index-2">
    <div class="row">
      <div class="col-lg-9 pb-5">
        <article>
          <p class="text-uppercase text-1 mb-3 text-color-default">
            <time pubdate datetime="2022-01-10"
              >{{post.created_at|date:"d M Y"}}</time
            >
            <span class="opacity-3 d-inline-block px-2">|</span>
            {{post.comments.count}} Comment{{post.comments.count|pluralize}}
            <span class="opacity-3 d-inline-block px-2">|</span> By:
            {{post.author}}
          </p>

          {{post.content|safe}}
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_inline_share_toolbox"></div>
          <script
            type="text/javascript"
            src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60ba220dbab331b0"
          ></script>

          <hr class="my-5" />

          <div class="post-block post-author">
            <h3
              class="text-color-dark text-capitalize font-weight-bold text-5 m-0 mb-3"
            >
              Author
            </h3>
            <div class="img-thumbnail img-thumbnail-no-borders d-block pb-3">
              <a href="#">
                <img
                  src="{{post.author.profile.image.url}}"
                  class="rounded-circle"
                  alt=""
                />
              </a>
            </div>
            <p>
              <strong class="name"
                ><a href="#" class="text-4 text-dark pb-2 pt-2 d-block"
                  >{{post.author|title}}</a
                ></strong
              >
            </p>
            <p>{{post.author.profile.about}}</p>
          </div>

          <hr class="my-5" />

          <div id="comments" class="post-block post-comments">
            <h3
              class="text-color-dark text-capitalize font-weight-bold text-5 m-0 mb-3"
            >
            {{post.comments.count}} comments for "{{post.title}}"
            </h3>

            <ul class="comments">
           
              <li v-for="comment in comments" :key="comment.id">
                <div class="comment">
                  <div
                    class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block"
                  >
                    <img
                      class="avatar rounded-circle"
                      alt=""
                      src="img/avatars/avatar.jpg"
                    />
                  </div>
                  <div class="comment-block">
                    <div class="comment-arrow"></div>
                    <span class="comment-by">
                      <strong class="text-dark">[[comment.name]]</strong>
                      <span class="float-end">
                        <span>
                          <a href="#"
                            ><i class="fas fa-reply"></i> Reply</a
                          ></span
                        >
                      </span>
                    </span>
                    <p>
                      [[comment.comment]]
                    </p>
                    <span class="date float-end"
                      >January 12, 2022 at 1:38 pm</span
                    >
                  </div>
                </div>
              </li>
            </ul>

            <h3
              class="text-color-dark text-capitalize font-weight-bold text-5 m-0 mb-3 mt-5"
            >
              Leave a Reply
            </h3>

            <form
              class="contact-form p-0"
              action="php/contact-form.php"
              method="POST"
            >
              <div class="p-2">
                <div class="row">
                  <div class="form-group col-lg-6">
                    <label
                      class="form-label required mb-1 font-weight-bold text-dark"
                      >Full Name</label
                    >
                    <input
                      type="text"
                      value=""
                      data-msg-required="Please enter your name."
                      maxlength="100"
                      class="form-control text-color-quaternary bg-color-tertiary py-4 px-3 border-0 box-shadow-none"
                      name="name"
                      id="name"
                      required
                    />
                  </div>
                  <div class="form-group col-lg-6">
                    <label
                      class="form-label required mb-1 font-weight-bold text-dark"
                      >Email Address</label
                    >
                    <input
                      type="email"
                      value=""
                      data-msg-required="Please enter your email address."
                      data-msg-email="Please enter a valid email address."
                      maxlength="100"
                      class="form-control text-color-quaternary bg-color-tertiary py-4 px-3 border-0 box-shadow-none"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col">
                    <label
                      class="form-label required mb-1 font-weight-bold text-dark"
                      >Comment</label
                    >
                    <textarea
                      maxlength="5000"
                      data-msg-required="Please enter your message."
                      rows="8"
                      class="form-control text-color-quaternary bg-color-tertiary px-3 border-0 box-shadow-none"
                      name="message"
                      id="message"
                      required
                    ></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col mb-0">
                    <input
                      type="submit"
                      value="Post Comment"
                      class="btn btn-outline custom-btn-outline btn-primary rounded-0 text-color-dark custom-text-4 bg-color-hover-transparent text-color-hover-light font-weight-semibold custom-btn-with-arrow px-4 py-3"
                      data-loading-text="Loading..."
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </article>
      </div>
      <div class="col-lg-3 pt-4 pt-lg-0">
        <aside class="sidebar">
          {% comment %}
          <div class="px-3 mb-4">
            <h3
              class="text-color-dark text-capitalize font-weight-bold text-5 m-0 mb-3"
            >
              About The Blog
            </h3>
            <p class="m-0">
              Lorem ipsum dolor sit amet, conse elit porta. Vestibulum ante
              justo, volutpat quis porta diam.
            </p>
          </div>
          {% endcomment %}
          <div class="py-1 clearfix">
            <hr class="my-2" />
          </div>
          <div class="px-3 mt-4">
            <form action="page-search-results.html" method="get">
              <div class="input-group mb-3 pb-1">
                <input
                  class="form-control box-shadow-none text-1 border-0 bg-color-grey"
                  placeholder="Search..."
                  name="s"
                  id="s"
                  type="text"
                />
                <button type="submit" class="btn bg-color-grey text-1 p-2">
                  <i class="fas fa-search m-2"></i>
                </button>
              </div>
            </form>
          </div>
          <div class="py-1 clearfix">
            <hr class="my-2" />
          </div>
          <div class="px-3 mt-4">
            <h3
              class="text-color-dark text-capitalize font-weight-bold text-5 m-0 mb-3"
            >
              Recent Posts
            </h3>
            <div class="pb-2 mb-1">
              <div>

                {% for recent_post in recent_posts %}
                  <a
                    href="#"
                    class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none"
                    >{{recent_post.created_at|date:"d M Y"}}
                    <span class="opacity-3 d-inline-block px-2">|</span>{{recent_post.comments.count}} Comment{{recent_post.comments.count|pluralize}}
                    <span class="opacity-3 d-inline-block px-2">|</span>{{recent_post.author|title}}</a
                  >
                  <a
                    href="{{recent_post.get_absolute_url}}"
                    class="text-color-dark text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4"
                    >{{recent_post.title}}</a
                  >
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="py-1 clearfix">
            <hr class="my-2" />
          </div>
          <div class="px-3 mt-4">
            <h3
              class="text-color-dark text-capitalize font-weight-bold text-5 m-0 mb-3"
            >
              Recent Comments
            </h3>
            <div class="pb-2 mb-1">
              <a
                href="#"
                class="text-color-default text-2 mb-0 d-block text-decoration-none line-height-4"
                >Admin on
                <strong class="text-color-dark text-hover-primary text-4"
                  >Vivamus sollicitudin</strong
                >
                <span class="text-uppercase text-1 d-block pt-1 pb-3"
                  >10 Jan 2022</span
                ></a
              >
              <a
                href="#"
                class="text-color-default text-2 mb-0 d-block text-decoration-none line-height-4"
                >John Doe on
                <strong class="text-color-dark text-hover-primary text-4"
                  >Lorem ipsum dolor</strong
                >
                <span class="text-uppercase text-1 d-block pt-1 pb-3"
                  >10 Jan 2022</span
                ></a
              >
              <a
                href="#"
                class="text-color-default text-2 mb-0 d-block text-decoration-none line-height-4"
                >Admin on
                <strong class="text-color-dark text-hover-primary text-4"
                  >Consectetur adipiscing</strong
                >
                <span class="text-uppercase text-1 d-block pt-1 pb-3"
                  >10 Jan 2022</span
                ></a
              >
            </div>
          </div>
          <div class="py-1 clearfix">
            <hr class="my-2" />
          </div>
          <div class="px-3 mt-4">
            <h3
              class="text-color-dark text-capitalize font-weight-bold text-5 m-0"
            >
              Categories
            </h3>
            <ul class="nav nav-list flex-column mt-2 mb-0 p-relative right-9">
              {% for category in categories %}
              <li class="nav-item">
                <a class="nav-link bg-transparent border-0" href="#">{{category.get_all_children}} (2)</a>
              </li>
              {% endfor %}
              {% comment %} <li class="nav-item">
                <a class="nav-link bg-transparent border-0" href="#"
                  >Design (2)</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link bg-transparent border-0 active" href="#"
                  >Photos (4)</a
                >
                <ul>
                  <li class="nav-item">
                    <a class="nav-link bg-transparent border-0" href="#"
                      >Animals</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link bg-transparent border-0 active" href="#"
                      >Business</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link bg-transparent border-0" href="#"
                      >Sports</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link bg-transparent border-0" href="#"
                      >People</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link bg-transparent border-0" href="#"
                  >Videos (3)</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link bg-transparent border-0" href="#"
                  >Lifestyle (2)</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link bg-transparent border-0" href="#"
                  >Technology (1)</a
                >
              </li> {% endcomment %}
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>

<script src={% static 'frontend/js/blog-details.js' %}></script>
{% endblock content %}
