{% load static %}
<section class="our-work overflow-hidden" id="ourWork">
    <div class="container-fluid">
        <div class="row bg-color-dark">
            <div class="col-xl-9 px-0">
                <div class="sort-destination w-100" data-sort-id="portfolio">
                    {% for work in works  %}
                    
                    <div class="row w-100 m-0 isotope-item {% for service in work.services.all %} {{service.slug}} {% endfor %}">
                        <div class="col-sm-12 custom-our-work overlay overlay-op-9 overlay-show p-0">
                            <a href="demo-digital-agency-2-our-work-detail.html" class="d-block">
                                <img src={{work.thumbnail.url}} class="w-100">
                                <div class="w-100 custom-our-work-text p-5 d-flex align-items-end p-absolute bottom-0">
                                    <div class="text-start p-relative z-index-2 mb-3">
                                        <h4 class="text-color-light custom-text-9 font-weight-bold text-decoration-none mb-2">{{work.name}}</h4>
                                        <p class="text-uppercase custom-text-4 text-color-quaternary text-decoration-none mb-3">
                                            {% for service in work.services.all %} {{service.name}}, {% endfor %}
                                        </p>
                                        <span class="custom-text-4 font-weight-semibold m-0 p-0 text-color-light custom-btn-with-arrow custom-btn-with-arrow-primary text-decoration-none">View Work</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-3 bg-color-dark px-xl-0 sticky-container position-relative">
                <div id="sidebar" class="side-menu-our-work sidebar position-relative">
                    <div data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.sticky-container', 'padding': {'top': 100}}">
                        <div class="py-5 my-2 ps-5 pe-0">
                            <h4 class="text-color-light custom-text-10 font-weight-bold custom-title-with-icon custom-title-with-icon-primary">Our Work</h4>
                            <ul class="list-unstyled sort-source" data-sort-id="portfolio" data-option-key="filter">
                                <li class="nav-item active" data-option-value="*">
                                    <a href="#ourWork" data-hash data-hash-offset="0" data-hash-offset-lg="100" class="text-color-quaternary text-color-hover-light text-decoration-none mb-2 py-0 d-block">View All</a>
                                </li>


                                {% for service in services %}
                                
                                <li class="nav-item" data-option-value=".{{service.slug}}">
                                    <a href="#ourWork" data-hash data-hash-offset="0" data-hash-offset-lg="100" class="text-color-quaternary text-color-hover-light text-decoration-none mb-2 py-0 d-block">{{service.name}}</a>
                                </li>
                                
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>